# Shared/OnchainKit variables

NEXT_PUBLIC_ONCHAINKIT_PROJECT_NAME=kissmintdash
NEXT_PUBLIC_URL=https://kissmintdash.vercel.app
NEXT_PUBLIC_ICON_URL=$NEXT_PUBLIC_URL/logo.png
NEXT_PUBLIC_ONCHAINKIT_API_KEY=abcdefghijklmnopqrstuvwxyz1234567890

# Frame metadata

FARCASTER_HEADER=abcdefghijklmnopqrstuvwxyz1234567890
FARCASTER_PAYLOAD=abcdefghijklmnopqrstuvwxyz1234567890
FARCASTER_SIGNATURE=abcdefghijklmnopqrstuvwxyz1234567890
NEXT_PUBLIC_APP_ICON=$NEXT_PUBLIC_URL/icon.png

# Optional Frame metadata items below
NEXT_PUBLIC_APP_SUBTITLE="The ultimate tap challenge"
NEXT_PUBLIC_APP_DESCRIPTION="Compete for glory in 25 seconds!"
NEXT_PUBLIC_APP_SPLASH_IMAGE=$NEXT_PUBLIC_URL/splash.png
NEXT_PUBLIC_SPLASH_BACKGROUND_COLOR="#000000"
NEXT_PUBLIC_APP_PRIMARY_CATEGORY=games
NEXT_PUBLIC_APP_HERO_IMAGE=$NEXT_PUBLIC_URL/hero.png
NEXT_PUBLIC_APP_TAGLINE="Tap Fast, Run Far, Mint Glory"
NEXT_PUBLIC_APP_OG_TITLE=kissmintdash
NEXT_PUBLIC_APP_OG_DESCRIPTION="Tap Fase, Run Far, Mint Glory. Compete for glory in 25 seconds."
NEXT_PUBLIC_APP_OG_IMAGE=$NEXT_PUBLIC_URL/hero.png

# Redis config
REDIS_URL=https://abcdefghijklmnopqrstuvwxyz1234567890.upstash.io
REDIS_TOKEN=abcdefghijklmnopqrstuvwxyz1234567890

# Onchain Transaction Config
NEXT_PUBLIC_TOKEN_ADDRESS=0xabcdefghijklmnopqrstuvwxyz1234567890
NEXT_PUBLIC_PAYMENT_ADDRESS=0xabcdefghijklmnopqrstuvwxyz1234567890

# Turso Config  
NEXT_PUBLIC_TURSO_URL=libsql://abcdefghijklmnopqrstuvwxyz1234567890.kissmintdash-patriondigital.aws-ap-northeast-1.turso.io
NEXT_PUBLIC_TURSO_API_SECRET=abcdefghijklmnopqrstuvwxyz1234567890

# Leaderboard cron
CRON_SECRET=abcdefghijklmnopqrstuvwxyz1234567890
NEYNAR_API_KEY=abcdefghijklmnopqrstuvwxyz1234567890
NEXT_PUBLIC_WC_PROJECT_ID=abcdefghijklmnopqrstuvwxyz1234567890

# Coinbase Wallet
CDP_API_KEY_ID=abcdefghijklmnopqrstuvwxyz1234567890
CDP_API_KEY_SECRET=abcdefghijklmnopqrstuvwxyz1234567890
CDP_WALLET_SECRET=abcdefghijklmnopqrstuvwxyz1234567890
CDP_WALLET_API_V2_BASE_URL=https://api.developer.coinbase.com/api/v2
CDP_PAYOUT_ACCOUNT_ID=0xabcdefghijklmnopqrstuvwxyz1234567890
CDP_BASE_NETWORK_ID=8453